@font-face {
    font-family: myfont;
    src: url(assets/fonts/RobotoCondensed-VariableFont_wght.ttf);
}
$color1:#ffcbcb;
$color2:#680747;


*{
 font-family: myfont;
}

body{
    background: rgb(255,203,203);

}

.logo{
   a{ text-decoration: none;
    color: $color2;
    text-shadow: 2px 2px 8px rgb(228, 103, 245);
    font-size: 30px;
    font-weight: bolder;
    margin-left: 10px;
    text-wrap: nowrap;
    font-style: italic;
    img{
        height: 100px;
        width: 100px
    }
}
}

.mynav{
    ul{
        margin: 0 0 0 20px;
        li{ margin-left:5px ; 
            font-weight: 700 ;
            font-size: 22px ;
            text-wrap: nowrap;

            a{
                color: $color2 !important;
            } 
            a:hover{color: palevioletred !important;}
            .mybtn1{
                background-color: $color2;
                color: $color1;
                }
            
            .mybtn2{
                background-color: $color2;
                color: $color1;
                margin-top: 5px;
                }     
        }
    }
}

@media  only screen and (min-width:1400px) {
.mynav
{ ul{
    margin: 0 0 0 20px;
    li{ margin-left:5px ; 
        font-weight: 700 ;
        font-size: 30px ;
        text-wrap: nowrap;

        a{
            color: $color2 !important;
        }      
    }
}
}
}
    


.btndiv{
    margin: 25px 0 0 0px;
    div{
    .mybtn1{
    background-color: $color2;
    color: $color1;
    margin-right: 3px;
    }

    .mybtn2{
        background-color: $color2;
        color: $color1;
        margin-right: 5px;
       }
    }
}

.sect2{
    padding-top: 20px;
    background:rgb(255,203,203);
    background: linear-gradient(222deg, rgba(255,203,203,1) 0%, rgba(255,203,203,1) 0%, rgba(104,7,71,1) 46%, rgba(255,203,203,1) 100%);;
    span{
        font-size: 70px ;
        color:#f7a0a0;
        text-shadow: 2px 2px 8px rgb(194, 2, 219);
        word-spacing: 10px;
    }

}

